{% extends "base.html" %}

{% load static %}
{% load charat %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" />
{% endblock stylesheet %}

{% block title %}Standings{% endblock title %}



{% block content %}
{% include "partials/particles.html" %}
{% include "partials/header.html" %}
{% include "partials/contestNavbar.html" %}
<div class="main-block">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Points</th>
                <th>Penalty</th>
                {% for problem in problems %}
                <th>{{ "ABCDEFGHIJKLMNOPQRSTUVWXYZ"|char_at:forloop.counter0 }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for participant in load %}
                <tr>
                    <td class="centertext">{{ participant.rank }}</td>
                    <td class="centertext"><a href="/grade/contests/{{ cid }}/status?user={{ participant.id }}">{{ participant.name }}</a></td>
                    <td class="centertext">{{ participant.solved }}</td>
                    <td class="centertext">{{ participant.penalty }}</td>
                    {% for problem_score in participant.problems %}
                        {% if problem_score > 0 %}
                            <td class="centertext" style="color:lime;">{{ problem_score }}</td>
                        {% elif problem_score < 0 %}
                            <td class="centertext" style="color:red;">{{ problem_score }}</td>
                        {% else %}
                            <td class="centertext">{{ problem_score }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}