{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" />
{% endblock stylesheet %}

{% block title %}Submissions{% endblock title %}

{% block content %}
{% if user.particles_enabled %}{% include "partials/particles.html" %}{% endif %}
{% include "partials/header.html" %}
<div class="main-block">
    <div class="title">
        Submissions {% if admin %} - Viewing as Admin{% endif %}
    </div>
</div>

<div class="main-block" id="submissions">
    <div class="option-buttons">
    {% if mine %}
    <a href="{% url "runtests:status" mine=False cid=cid page=1 %}">
        <div class="button">View All</div>
    </a>
    {% else %}
    <a href="{% url "runtests:status" mine=True cid=cid page=1 %}">
        <div class="button">View Mine Only</div>
    </a>
    {% endif %}
    </div>
    <table>
        <tr>
            <th>Submission</th>
            <th>User</th>
            <th>Problem</th>
            <th>Langauge</th>
            <th>Runtime</th>
            <th>Verdict</th>
        </tr>
        {% for submission in submissions  %}
        <tr class="submission-item" data-submission-id="{{ submission.id }}">
            <td>
                <a href="{% url "runtests:submission" submission.id %}">
                    View #{{submission.id}}
                </a>
            </td>
                <td>
                    <a href="{% url "index:user_profile" submission.usr.id %}">
                        {{submission.usr.display_name}}
                    </a>
                </td>
            <td>
                <a href="{% url "problems:problem" submission.problem.id %}">
                    {{submission.problem.name}}
                </a>
            </td>
            <td>
                {{submission.language}}
            </td>
            <td class="submission-runtime">
                {{submission.runtime}}ms
            </td>
            <td class="submission-status">
                {{submission.verdict}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="option-buttons">
    {% if page_obj.has_previous %}
    <a href="{% url "runtests:status" mine=mine cid=cid page=page_obj.previous_page_number %}">
        <div class="button">Previous</div>
    </a>
    {% endif %}
     <div class="button">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
    {% if page_obj.has_next %}
    <a href="{% url "runtests:status" mine=mine cid=cid page=page_obj.next_page_number %}">
         <div class="button">Next</div>
    </a>
    {% endif %}
</div>
</div>

<script>
    const protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
    const socketUrl = `${protocol}://${window.location.host}/ws/submissions/`;
    const submissionSocket = new WebSocket(socketUrl);

    const submissionIds = Array.from(document.querySelectorAll('.submission-item'))
                               .map(el => el.dataset.submissionId);

    submissionSocket.onopen = function(e) {
        console.log('WebSocket connection opened.');
        submissionSocket.send(JSON.stringify({
            'type': 'join_submissions',
            'submission_ids': submissionIds
        }));
    };

    submissionSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const { submission_id, message, runtime } = data;

        const submissionElement = document.querySelector(`.submission-item[data-submission-id="${submission_id}"] .submission-status`);
        if (submissionElement) {
            submissionElement.textContent = message;
        }
        const submissionRuntimeElement = document.querySelector(`.submission-item[data-submission-id="${submission_id}"] .submission-runtime`);
        if (submissionElement) {
            submissionElement.textContent = runtime + "ms";
        }
    };

    submissionSocket.onclose = function(e) {
        console.log('WebSocket connection closed.');
    };
</script>
{% endblock content %}
