{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" />
{% endblock stylesheet %}

{% block title %}Admin{% endblock title %}

{% block content %}
{% include "partials/header.html" %}
{% if user.particles_enabled %}{% include "partials/particles.html" %}{% endif %}
<br>
<div class='main-block'>
    <div class="title">Admin Panel</div>
</div>
<div class="option-buttons">
    <button class="button">
        <a href="{% url "admintools:queue" %}">
            <div class="problem-text">Manage Queue</div>
        </a>
    </button>
</div>
{% endblock content %}
