{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}" />
{% endblock stylesheet %}

{% block title %}Problemset{% endblock title %}

{% block content %}
{% include "partials/particles.html" %}
{% include "partials/header.html" %}

<div class="main-block">
    <div class="title">Problemset</div>
</div>
<div class="main-block" id="problems">
    <ul class="sl">
        {% for problem in problems  %}
            <li class="sl">
                <a href="{% url "problems:problem" pid=problem.id %}">
                    <div class="problem-text">{{ problem.name }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}