{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
{% endblock stylesheet %}

{% block title %}First Time{% endblock title %}

{% block content %}
<section class="main">
    <div class="bgbox">
        <div class="title"><strong>Welcome!</strong></div>

        <div class="subbox">
            <div class="subtext">
                <form action="{% url 'index:update_first_time' %}" method="POST">
                    {% csrf_token %}
                    It looks like it's your first time here<br><br>

                    First, make sure the following information is correct:<br>
                    Name: <strong>
                        {{user.display_name}}
                    </strong><br>
                    Username: <strong>
                        {{user.username}}
                    </strong><br>
                    <br>
                    Next, please input your personal email: <br>
                    <input type="email" name="email" id="email" maxlength="100" required></input>
                    <br><br>
                    <br>
                    After all information is correct, click confirm to proceed.
                    <br><br>
                    <div class="cnt_buttons">
                        <button class="button" type="submit">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
        <form class="submit" action="{% url 'oauth:logout' %}" method="POST">
        </form>
    </div>
</section>
{% endblock content %}
