<div class="main-block">
    <div class="title">{{ title }}</div>
</div>
<div class="cnav">
  <ul class="cnb">
    <li class="cnb">
      <a {% if active == "problems" %} class="cactive" {% endif %} href="{% url "contests:contest" cid %}">Problems</a>
    </li>
    <li class="cnb">
      <a href="{% url "runtests:submitcontest" cid=cid %}">Submit Code</a>
    </li>
    <li class="cnb">
      <a {% if active == "submissions" %} class="cactive" {% endif %} href="{% url "contests:status" cid=cid mine_only="mine" %}">My Submissions</a>
    </li>
    {% if contest_over %}
     <li class="cnb">
      <a {% if active == "status" %} class="cactive" {% endif %} href="{% url "contests:status" cid=cid mine_only="all" %}">All Submissions</a>
    </li>
    {% endif %}
    <li class="cnb">
      <a {% if active == "standings" %} class="cactive" {% endif %} href="{% url "contests:standings" cid %}">Standings</a>
    </li>
  </ul>
</div>