{% load static %}

<div class="navbar">
    <ul class="nb">
        <li id="logoHolder" class="nb"><img class="logo" src="{% static 'images/logo.png' %}"></li>
        <li class="nb"><a {% if active == "profile" %} class="cactive" {% endif %} href="{% url "index:profile" %}">Home</a></li>
        <li class="nb"><a {% if active == "status" %} class="cactive" {% endif %} href="{% url "runtests:status" page=1 mine=False %}">Submissions</a></li>
        <li class="nb"><a {% if active == "contests" %} class="cactive" {% endif %} href="{% url "contests:contests" %}">Contests</a></li>
        <li class="nb"><a {% if active == "problems" %} class="cactive" {% endif %} href="{% url "problems:problemset" %}">Problemset</a></li>
        <li class="nb"><a {% if active == "submit" %} class="cactive" {% endif %} href="{% url "runtests:submit" %}">Submit</a></li>
        <li class="nb"><a {% if active == "info" %} class="cactive" {% endif %} href="{% url 'index:info' %}">Rules and Info</a></li>
        <li class="nb"><a {% if active == "rankings" %} class="cactive" {% endif %} href="{% url "rankings:rankings" %}">Rankings</a></li>
        <li class="nb topnav-right">
            <a href="{% url 'oauth:logout' %}">
                <button class="logoutbtn" type="button">Log Out</button>
            </a>
        </li>
        <li class="nb topnav-right">
            <a href="{% url 'index:toggle_particles' %}?next={{ request.get_full_path|urlencode }}">
                Toggle Particles
            </a>
        </li>
    </ul>
</div>
